Python Tuples

In [6]:
rgb=('red','green','blue')
print(rgb[0])

print(len(rgb))


tuple1=('abc',34,True)
print(type(tuple1))



#convert into a list
x=("Apple","banana","cherry")

y=list(x)
print(x)

y[1]='kiwi'

x=tuple(y)
print(x)

red
3
<class 'tuple'>
('Apple', 'banana', 'cherry')
('Apple', 'kiwi', 'cherry')

In [7]:
tuple3=("Apple","banana","cherry")
for i in range(len(tuple3)):
  print(tuple3[i])

Apple
banana
cherry

In [8]:
tuple4=("Apple","banana","cherry")
i=0
while i<len(tuple4):
  print(tuple4[i])
  i=i+1

Apple
banana
cherry

Python Sets

In [10]:
skills={'python','database','software design'}

empty_set={}
empty_set=set()
skills=set()

if not skills:
  print('Empty sets are falsy')

Empty sets are falsy

In [12]:
#create a set from a list

a=[2,5,8,6,3,1,4]
sample=set(a)
print(sample)

{1, 2, 3, 4, 5, 6, 8}

In [13]:
book_set={'harry potter',"angle","atlas "}

if "angle" in book_set:
  print("Book exists in the book set")
else:
  print("book does not exists in the book set")

  print("yo yo")

Book exists in the book set

removing items from a set

In [15]:
color_set={'red','orange','yellow','white'}
color_set.remove('yellow')
print(color_set)
color_set.discard("red")
print(color_set)

deleteitem= color_set.pop()
print(deleteitem)

color_set.clear()
print(color_set)

{'white', 'red', 'orange'}
{'white', 'orange'}
white
set()

Python Dictionaries

In [18]:
dict1={
    'brand':'Ford',
    'model':"yo yo",
    'year':1985
}

print(dict1)
print(dict1.keys())
print(dict1.values())

{'brand': 'Ford', 'model': 'yo yo', 'year': 1985}
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'yo yo', 1985])