Python Flow Control

Python if...else Statement

In [1]:
number =5
if number >0:
  print("oy oy")

oy oy

In [2]:
number =10
if number >0:
  print('positive number')
else:
  print('negative number')

print('this statement is always executed')

positive number
this statement is always executed

In [3]:
number =0
if number >0:
  print('positive number')
elif number ==0:
  print('zero')
else:
  print('negative number')

zero

Python for Loop

In [5]:
num= [1,2,5,7,9,6,3]
for i in range(len(num)):
  print(num[i])
  i=i+1

1
2
5
7
9
6
3

In [6]:
i=1
n=5
while i<=n:
  print(i)
  i=i+1

1
2
3
4
5

# Python Functions

Types of function

• Standard library functions - These are built-in functions in Python

that are available to use.
• User-defined functions - We can create our own functions based on
our requirements.

In [8]:
def greet():
  print("good morning")

greet()

good morning

In [9]:
def addnum(num1,num2):
  sum=num1+num2
  print(sum)

addnum(10,20)

30

In [10]:
def find_squre(num):
  result=num*num
  return result

find_squre(2)

4

In [11]:
def greet(name,message='hi'):
  return f"{message}{name}"

print(greet('dela'))

hidela

In [12]:
def get_net_price(price,tax=0.07,discount=0.05):
  return price *(1+tax-discount)

net_price =get_net_price(100)
print(net_price)

102.0